<div class=list-component>
  <div class=photo-frame>
    <h2> Create a new listing</h2>
    <img src="https://www.worldfirst.com/app/uploads/sites/9/2017/10/AdobeStock_159669992-759x500.jpg" alt="">
    <div class=box>
    <% @listing.photos.each do |photo| %>
    <div><%= cl_image_tag photo.key, height: 200, width: 300, crop: :fill %></div>
    <% end %>
    </div>
  </div>
  <div id=listform>
    <div class="listing-form">
      <br>
      <%=simple_form_for(@listing) do |f| %>
        <%= f.input :name%>
        <%= f.input :address %>
        <%= f.input :listing_type, collection: Listing::LISTING_TYPES %>
        <%= f.input :booking_type, collection: Listing::BOOKING_TYPES %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit %>
        <% end %>
      </div>
  </div>
</div>
</div>
