<%= render "navbar" %>

<div class="container">
<h1><%= @listing.name %></h1>

<i class="fa-solid fa-star"></i><%# <p><%= @listing_reviews.listing_rating %></p>

<%# <%= image_tag "cafe1.png", class: "cafephoto" %>

<p><%= @listing.description %></p>
</div>







<%# booking new form %>
<div class="container">
<%# <%= render "form", booking: @booking %>
