<div class="container">
  <div class="content-section-wrap">
    <div class="content-wrap">
      <h2><%= @listing.name %></h2>
      <p class="listing-address"><%= @listing.address %></p>
      <p class="listing-desc"><%= @listing.description %></p>
    </div>
    <div class="img-wrap">
      <% if @listing.photos[0].nil? %>
        <%= cl_image_tag "07l71vlgt3tel77cjg4ifo6pfefn", class: "cafe-img" %>
      <% else %>
        <%= cl_image_tag @listing.photos[0].key, class: "cafe-img" %>
      <% end %>
    </div>
  </div>
  <div class="booking-form">
    <h2>Make a reservation</h2>
    <%= simple_form_for([@listing, @booking]) do |f| %>
      <%= f.input :date, html5: true, input_html: { class: 'date-input' } %>
      <div class="input-wrap">
        <div class="time-wrap">
          <%= f.input :start_time, input_html: { class: 'start-input' } %>
          <%= f.input :end_time, input_html: { class: 'end-input' } %>
        </div>
        <div class="quantity-wrap">
          <%= f.input :quantity, input_html: { class: 'quantity-input' } %>
        </div>
      </div>
      <%= f.submit "Book", :class => "btn-submit" %>
      <% end %>
  </div>
</div>

<%= render "footer" %>
