<h1>Your booking is <%= @booking.status.downcase %>.</h1>
<h3><%= @booking.listing.name %></h3>
<p>Start: <%= @booking.reservation_startdatetime %></p>
<p>End: <%= @booking.reservation_enddatetime %></p>
<p>Booking Type: <%= @booking.listing.booking_type %></p>
<p>Quantity: <%= @booking.quantity %></p>
<p>Price: <%= @booking.listing.price %></p>

<%= link_to "Confirm", booking_path(@booking), class: "btn btn-primary"%>
