<div class="container user-profile">
  <div class="profile">
    <div class="photo-test">
      <p>Photo goes here</p>
    </div>
    <h1 class="name-text"><%= @user.first_name %> <%= @user.last_name %></h1>
  </div>
  <div class="profile-bookings">
    <h2>Active Bookings</h2>
    <div class="booking-cards active-booking">
      <% @active.each do |booking|  %>
        <div class="booking-card">
          <p><strong><%= booking.listing.name %></strong></p>
          <p>Date: <%= booking.date %></p>
          <p>Start: <%= booking.start_time %></p>
          <p>End: <%= booking.end_time %></p>
          <p>Quantity: <%= booking.quantity %></p>
          <br>
          <%= link_to "More Information", booking_path(booking) %>
        </div>
      <% end %>
    </div>
    <h2>Pending Bookings</h2>
    <div class="booking-cards pending-booking">
      <% @pending.each do |booking|  %>
        <div class="booking-card">
          <p><strong><%= booking.listing.name %></strong></p>
          <p>Date: <%= booking.date %></p>
          <p>Start: <%= booking.start_time %></p>
          <p>End: <%= booking.end_time %></p>
          <p>Quantity: <%= booking.quantity %></p>
          <br>
          <%= link_to "More Information", booking_path(booking) %>
        </div>
      <% end %>
    </div>
    <h2>Completed Bookings</h2>
    <div class="booking-cards completed-booking">
      <% @completed.each do |booking|  %>
        <div class="booking-card">
          <p><strong><%= booking.listing.name %></strong></p>
          <p>Start: <%= booking.date %></p>
          <p>Start: <%= booking.start_time %></p>
          <p>End: <%= booking.end_time %></p>
          <p>Quantity: <%= booking.quantity %></p>
          <br>
          <%= link_to "More Information", booking_path(booking) %>
        </div>
      <% end %>
    </div>

  </div>
</div>
