<%# _bookingcard.scss %>

<div class="container">

  <%# <div class="profile-wrap">
    <div class="img-placeholder"></div> %>
   <div class="profile">
     <% if current_user.photo.attached? %>
       <%=  cl_image_tag current_user.photo.key, width: 300, height: 300, crop: :thumb, gravity: :face %>
      <% else %>
        <%= image_tag "defaultavatar.png" %>
      <% end %>

    <h1 class="name-text"><%= @user.first_name %> <%= @user.last_name %></h1>
  </div>

  <div class="section-wrap">

    <div class="cards-wrap">
      <h2>For Your Action</h2>
      <div class="card-wrap">
        <% @pending.each do |booking| %>
          <div class="card">
            <p class="listing-name"><%= booking.listing.name %></p>
            <p><%= booking.listing.address %></p>
            <p>Date: <%= booking.date %></p>
            <p>Time: <%= booking.start_time.strftime('%H:%M') %> - <%= booking.end_time.strftime('%H:%M') %></p>
            <p>Quantity: <%= booking.quantity %></p>
            <%= link_to "More info", booking_path(booking), class: "more-info" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="cards-wrap">
      <h2>All Listings</h2>
      <div class="card-wrap">
        <% @listings.each do |listing| %>
        <div class="card">
          <p class="listing-name"><%= listing.name %></p>
          <p><%= listing.address %></p>
          <%= link_to "More info", listing_path(listing), class: "more-info" %>
        </div>
        <% end %>
      </div>
    </div>

  </div>

</div>
