<!DOCTYPE html>
<html>
  <head>
    <title>RailsWhereworks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

    <% if user_signed_in? %>
     <% pending = [] %>
     <% @current_user.listings.each do |listing| %>
       <% listing.bookings.each do |booking| %>
         <% if booking.status == "Pending"%>
           <% pending << booking %>
         <% end %>
       <% end %>
     <% end %>
   <% end %>


  <%= turbo_frame_tag "remote_modal", target: "_top" %>
  <% if user_signed_in? %>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <%= image_tag "WHEREWORKS.png" %></a>
      <div class="nav-form">
        <%= render "search" unless current_page?(root_path)%>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <%= link_to "+ Create Listing", new_listing_path, class: "nav-link btn navbar-btn listing-btn", data: { turbo_frame: "remote_modal" }  %>
            </li>
            <li class="nav-item dropdown">
            <% if current_user.photo.attached? %>
              <%=  cl_image_tag(current_user.photo.key, width: 50, height: 40, crop: :thumb, gravity: :face, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
            <% else %>
              <%= image_tag "defaultavatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <% if  current_user.bookings.where(status: "Active").present? %>
              <div class="badge-notif-green"> </div>
            <% end %>
            <% if pending.present? %>
              <div class="badge-notif-red"> </div>
            <% end %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "My Profile", user_path(current_user), class: "dropdown-item" %>
                <%= link_to "My Listings", listings_user_path(current_user), class: "dropdown-item" %>
                <%= link_to "My Bookings", bookings_user_path(current_user), class: "dropdown-item" %>
                <%= button_to "Sign Out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "dropdown-item" %>
              </div>
            </li>
            <!--li class="nav-item"-->
            <!--/li-->
        </ul>
      </div>
    </div>
  </div>
<% else %>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <%= image_tag "WHEREWORKS.png" %></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <%= link_to "Sign Up", new_user_registration_path, class: "nav-link btn navbar-btn", data: { turbo_frame: "remote_modal" } %>
            </li>
            <li class="nav-item">
              <%= link_to "Log In", new_user_session_path, class: "nav-link btn navbar-btn", data: { turbo_frame: "remote_modal" } %>
            </li>
            <!--li class="nav-item"-->
            <!--/li-->
        </ul>
      </div>
    </div>
  </div>
<% end %>
    <% if alert.present? || notice.present? %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <% end %>


    <%= yield %>
  </body>
</html>
